{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
<div class="min-h-screen  py-10">

  <div class="max-w-3xl mx-auto bg-[#15202B] rounded-2xl shadow-lg px-8 pb-10">

    <h1 class="text-2xl font-bold text-gray-200 text-center mt-6 mb-8">Modifier le profil</h1>


    {% for message in app.flashes('success') %}
    <div class="mb-4 bg-green-100 border border-green-300 text-green-800 p-3 rounded-lg text-center">
      {{ message }}
    </div>
    {% endfor %}

    {{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

    <div>
      {{ form_label(form.username, null, {'label_attr': {'class': 'block font-semibold text-gray-400'}}) }}
      {{ form_widget(form.username, {'attr': {'class': 'mt-1 block w-full px-3 py-2 bg-[#15202B] text-white border border-gray-600 rounded-md focus:ring-[#1DA1F2] focus:border-[#1DA1F2] sm:text-sm'
							}}) }}
      {{ form_errors(form.username, {'attr': {'class': 'text-red-400 text-sm' }}) }}
    </div>


    <div>
      {{ form_label(form.email, null, {'label_attr': {'class': 'block font-semibold text-gray-400'}}) }}
      {{ form_widget(form.email, {'attr': {'class': 'mt-1 block w-full px-3 py-2 bg-[#15202B] text-white border border-gray-600 rounded-md focus:ring-[#1DA1F2] focus:border-[#1DA1F2] sm:text-sm'
							}}) }}
      {{ form_errors(form.email, {'attr': {'class': 'text-red-400 text-sm' }}) }}
    </div>

    {% set avatarField = form.avatar %}
    <div class="mt-4 flex items-center space-x-4 bg-[#15202B]">
      <img id="avatarPreview"
        src="{{ asset(user.avatar ? 'uploads/avatars/' ~ user.avatar : 'images/default-avatar.png') }}" alt="Avatar"
        class="w-24 h-24 rounded-full border-4 border-white shadow-md object-cover bg-white">

      <div class="flex-1">
        {{ form_label(avatarField) }}
        {{ form_widget(avatarField, {'attr': {'id': 'avatarInput'}}) }}
        {{ form_errors(avatarField, {'attr': {'class': 'text-red-400 text-sm' }}) }}
      </div>
    </div>
    <div class="flex justify-end space-x-2 mt-6">
      <button type="submit" class="py-2 px-4 bg-[#1DA1F2] text-white font-bold rounded-lg shadow hover:bg-[#0d95e8] focus:outline-none focus:ring-2 focus:ring-[#1DA1F2] focus:ring-offset-2 transition-colors">
        Enregistrer
      </button>
      <a href="{{ path('app_profile') }}"
        class="border border-gray-300 px-4 py-2 rounded-lg hover:bg-gray-300 transition font-bold">
        Annuler
      </a>
    </div>

    {{ form_end(form) }}

  </div>
</div>

{% endblock %}