{% extends 'base.html.twig' %}

{% block title %}Tweet index
{% endblock %}


{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css"/>

	<div class="w-full h-screen bg-[#15202B]">

		<div class="pt-5 flex items-center justify-center flex-col">

			<a class="bg-[#1DA1F2] text-white p-3 mb-4 rounded-lg" href="{{ path('app_tweet_new')}}">Écrire un tweet</a>

			<div>
			{% for tweet in tweets %}

				<div class="p-3 bg-[#15202B] text-white border-x-1 border-b-1 first:border-t-1 border-neutral-600 w-130 ">
					<div>
						<span class="font-bold">{{ tweet.user.username }}</span>
						<span>
							·
						</span>
						<span class="text-neutral-400">{{ tweet.createdAt|date('d/m/Y H:i:s', "Europe/Paris") }}</span>
					</div>
					<div class="pt-3">
						<p>{{ tweet.content }}</p>
					</div>
					<div class="flex flex-row items-center mt-3">
					<a id="likeBtn" href="{{ path('app_like_new', {'id':tweet.id})}}" class="text-gray-400 hover:text-red-500 transition-colors duration-300">
						<i class="fa-solid fa-heart fa-xs 
						{% for like in tweet.likes %}
							{% if app.user == like.user %}
								text-red-500
							{% endif %}
						{% endfor %}"></i>
						<span class="text-white ml-1">{{ tweet.likes.count }}</span>
					</a>
					<a href="{{ path('app_retweet_add', {'id': tweet.id})}}" class="ml-2 flex items-center w-fit h-fit hover:text-[#1DA1F2] transition-colors duration-300">
						<i class="icon-repeat-2 rounded-lg p-1 
						{% for retweet in tweet.retweets %}
							{% if(app.user == retweet.user) %} text-[#1DA1F2] {% endif %}
						{% endfor %}"></i>
						<span class="text-white ml-1">{{ tweet.retweets.count }}</span>
					</a>
					</div>
				</div>
			{% else %}
				<span class="pt-5 text-neutral-400">Personne n'a encore écrit de tweet.</span>
			{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}
