{{ form_start(form) }}
    <div>
    {{ form_widget(form.content) }}
    <div class="text-red-400 text-sm mt-1 mb-4">
        {{ form_errors(form.content) }}
    </div>
    <button class="btn bg-[#1DA1F2] rounded-full px-5 py-2 w-fit">{{ button_label|default('Répondre') }}</button>
    </div>
{{ form_end(form) }}
